<div *ngIf="loader">
    <app-loader></app-loader>
</div>
<div *ngIf="!loader">
    <app-side-bar></app-side-bar>
    <section class="content-container">
        <div class="content">
            <div class="search">
                <form #mySearch="ngForm" class="search-bar" (ngSubmit)="search(mySearch)">
                    <input type="search" placeholder="Enter hotel name ..." ngModel name="search" required>
                    <button class="search-btn">
                        <span>Search</span>
                    </button>
                </form>
            </div>
            <div class="hotels">
                <div class="card-hotel">
                    <div class="hotelNotFound" *ngIf="loadNotFoundHotel">
                        <img src="https://cdn.dribbble.com/users/1104860/screenshots/10519347/media/aa9e1cc2969d3706ae23b0f47f40d0d8.gif"
                            alt="">
                    </div>
                    <div class="hotelFound" *ngIf="!loadNotFoundHotel" id="displayHotels">
                        <div *ngFor="let hotel of resultArray">
                            <app-hotel [inputedHotel]="hotel"></app-hotel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>