.content-container {
  padding-top: 20px;
  padding-left: 220px;
  background-image: url(../../../assets/images/bgDay.png);
  min-height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.content {
  width: 1000px;
  margin: 150px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  background-color: white;
  min-height: 500px;
  border-radius: 2%;
}
.form-group {
  margin-bottom: 20px;
}

.wrapper {
  width: 205px;
  float: right;
  margin-bottom: 30px;
}

a {
  display: block;
  width: 205px;
  height: 40px;
  line-height: 40px;

  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #2574a9 !important;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2574a9;
  transition: all 0.35s;
}

a:hover {
  color: #fff !important;
}

a:hover:after {
  width: 100%;
}

h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #2574a9;
}

form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #2574a9;
  border-radius: 0px;
}
form textarea::placeholder,
input::placeholder {
  color: black;
  font-size: 15px;
}
form textarea:read-write,
input:read-write {
  color: black;
  font-size: 15px;
}
form textarea {
  border: 2px solid #2574a9;
  background: transparent;
  max-height: 164px;
}
form label {
  font-size: 16px;
  color: #2574a9;
}
button {
  background: transparent;
  border: none;
  float: right;
  padding: 0px;
  width: 205px;
}
textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #2574a9;
  border-radius: 10px;
}
