<app-side-bar></app-side-bar>
<section class="content-container">
    <div class="content">
        <section class="not-found">
            <h2>404</h2>
            <p class="headerContent">Oops! Page not found</p>
            <p class="middleContent">Sorry, but the page you are looking for is not found</p>
            <div class="buttonHelp">
                <span routerLink="/help" class="helpButton label">Looking for help ? </span>
                <div class="wrapper">
                    <a routerLink="/help"><span>Send message</span></a>
                </div>
            </div>
        </section>
    </div>
</section>