<app-side-bar></app-side-bar>
<section class="content-container">
    <div class="content">
        <div class="center">
            <div class="gifDiscount">
                <img src="https://cdn.dribbble.com/users/2613050/screenshots/7347945/discount_logo.gif" alt="">
            </div>
            <div class="mainContent">
                <div class="left">
                    <h2>15% Discount</h2>
                    <p>TravelMore Company Offers You 15% Discount on Every Hotel If You have Newbord Child</p>
                </div>
                <div class="rigth">
                    <h2>25% Discount</h2>
                    <p>TravelMore Company Offers You 25% Discount On Every Hotel If You Have More Than 4 Kids</p>
                </div>
                <div class="middle">
                    <h2 class="center">10% Discount</h2>
                    <p class="center">TravelMore Company Offers You 10% Discount On every Hotel If It Is Holiday</p>
                    <p><b>Holidays</b> : <br>
                        Christmas <br>
                        Easter <br>
                        Valentine (Only for couple <i class="far fa-smile-beam"></i>) <br>
                        Halloween <br>
                    </p>
                </div>
                <div class="bottom">
                    <h2>Every hotel got their deals <a routerLink="/">check hotels</a> </h2>
                </div>
            </div>
        </div>
    </div>
</section>