<app-loader *ngIf="!loaded"></app-loader>
<div *ngIf="loaded">
    <app-side-bar></app-side-bar>
    <section class="content-container">
        <div class="content">
            <header>
                <aside class="left">
                    <div class="text active" id="left" (click)="chooseOption('users')">
                        <i class="fas fa-users "></i> <span>Users</span>
                    </div>
                </aside>
                <aside class="middle">
                    <div class="text " id="middle" (click)="chooseOption('hotels')">
                        <i class="fas fa-hotel"></i> <span>Hotels</span>
                    </div>
                </aside>
                <aside class="rigth">
                    <div class="text " id="rigth" (click)="chooseOption('messages')">
                        <i class="fas fa-envelope"></i> <span>Messages</span>
                    </div>
                </aside>
            </header>
            <section>
                <div class="users" *ngIf="users">
                    <h4 class="displayCounter">
                        Current users amounth : {{usersArray.length}}
                        <i class="fas fa-user"></i>
                    </h4>
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Check image</th>
                                    <th class="center">Edit</th>
                                    <th class="center">Delete</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let user of usersArray;let i=index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.age}}</td>
                                    <td>{{user.gender}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.password}}</td>
                                    <td class="center">
                                        <button class="btn btn-primary" (click)="viewImage(user.image,user.name)">Check
                                        </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-warning" (click)="editUser(user.keys)">Edit</button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-danger"
                                            (click)="deleteUser(user.keys,user.name,user.image)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="hotels" *ngIf="hotels">
                    <h4 class="displayCounter">
                        Current hotels amounth : {{hotelsArray.length}}
                        <i class="fas fa-door-open"></i>
                    </h4>
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Hotel name</th>
                                    <th>Uploader</th>
                                    <th>Location</th>
                                    <th class="center">Check Image</th>
                                    <th class="center">Check Hotel</th>
                                    <th class="center">Edit Hotel</th>
                                    <th class="center">Delete Hotel</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let hotel of hotelsArray;let i=index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{hotel.data.hotelName}}</td>
                                    <td>{{hotel.author}}</td>
                                    <td>{{hotel.data.hotelLocation}}</td>
                                    <td class="center">
                                        <button class="btn btn-primary">Image</button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-success">Hotel
                                        </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-warning">
                                            Edit
                                        </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="appartments" *ngFor="let hotel of hotelsArray;let i=index">
                        <div *ngIf="hotel.hasOwnProperty('appartments')">
                            <h5 style="text-transform: capitalize"><span
                                    style="color:#2574a9">{{hotel.data.hotelName}}</span> contain
                                {{hotel.appartments.length}} appartment <i class="far fa-building"></i></h5>
                            <div>
                                <div class="table">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Price</th>
                                                <th>Length m<sup>2</sup></th>
                                                <th>Bed</th>
                                                <th>Room</th>
                                                <th>Kitchen</th>
                                                <th>Floor</th>
                                                <th class="center">Check Image</th>
                                                <th class="center">Book</th>
                                                <th class="center">Delete Appartment</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let appartment of hotel.appartments;let j=index">
                                            <tr>
                                                <td class="center">{{j+1}}</td>
                                                <td class="center">{{appartment.data.price}}</td>
                                                <td class="center">{{appartment.data.appartmentLength}}</td>
                                                <td class="center">{{appartment.data.bed}}</td>
                                                <td class="center">{{appartment.data.rooms}}</td>
                                                <td class="center">{{appartment.data.kitchen}}</td>
                                                <td class="center">{{appartment.data.floor}}</td>
                                                <td class="center">
                                                    <button class="btn btn-primary">Image</button>
                                                </td>
                                                <td class="center">
                                                    <button *ngIf='appartment.booked' class="btn btn-info">Remove
                                                        Book</button>
                                                    <span *ngIf='!appartment.booked'>Appartment isn't booked</span>
                                                </td>
                                                <td class="center">
                                                    <button class="btn btn-danger">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="messages" *ngIf="mesasges">
                    <h4 class="displayCounter">
                        Current messages amounth : {{messagesArray.length}}
                        <i class="fas fa-envelope-open-text"></i>
                    </h4>
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th class="center">See Message</th>
                                    <th class="center">Reply Message</th>
                                    <th class="center">Delete Message</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let message of messagesArray;let i=index">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{message.name}}</td>
                                    <td>{{message.email}}</td>
                                    <td class="center"><button class="btn btn-primary"
                                            (click)="checkMessage(message.message)">Message</button></td>
                                    <td class="center">
                                        <button class="btn btn-success" (click)="reply(message)">Reply
                                        </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-danger"
                                            (click)="deleteMessage(message.keys,message.name)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>