.content-container {
  padding-top: 20px;
  padding-left: 220px;
  background-image: url("http://stockbarter.com/public/frontend/images/pattern-icons/2.png");
  min-height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px;
}

.content {
  width: 700px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  background-color: white;
  min-height: 550px;
  border-radius: 2%;
}
.content h3 {
  text-align: center;
  font-weight: 300;
}
.left {
  width: 40%;
  display: inline-block;
  height: 100%;
}
.rigth {
  width: 58%;
  height: 100%;
  float: right;
}
.big span {
  width: 142px !important;
}
.small span {
  width: 57px !important;
}
form div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.button {
  margin-top: 55px !important;
}
.left .photo {
  width: 100%;
  height: 40%;
}
.left .photo img {
  width: 264px;
  height: 264px;
  object-fit: contain;
}
.left .tips {
  width: 100%;
}
.left .tips p {
  font-size: 13px;
  margin-bottom: 1px;
}
.buton {
  margin-top: 20px;
}
