.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574a9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574a9;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.photoUser {
  height: 150px;
  width: 100%;
}
.photoUser img {
  width: 95%;
  height: 95%;
  object-fit: contain;
  border-radius: 50%;
  padding-left: 5px;
}
.photoUser p {
  font-size: 125px;
  margin: 0px;
  text-align: center;
}
.personalInfo p {
  text-align: center;
  font-size: 15px;
  margin: 2px 0px 2px 0px;
}
.photoUser i {
  border-radius: 15px;
  border: 1px solid white;
  padding: 10px;
}
.info {
  padding: 0px !important;
  margin: 0px !important;
}
.Line {
  padding-left: 0px !important;
}

hr.line {
  border: none;
  border-top: 3px dashed #2574a9;
}
.email {
  margin-bottom: 0px;
}
.copyright {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.typeGuest {
  color: #2574a9;
}
.typeAdmin {
  color: red;
}
.sidebar-container::-webkit-scrollbar {
  width: 1em;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background-color: #2574a9;
  border-radius: 10px;
}
.sidebar-container::-webkit-scrollbar-track {
  background-color: transparent;
  width: 12px;
}
.sidebar-container::-webkit-scrollbar-button {
  height: 20px;
}
.sidebar-container::-webkit-scrollbar {
  width: 12px;
}
.line {
  margin-left: 10px;
}
