body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #2574a9;
  border-radius: 20px;
  border-left: 1px solid #1a1a1a;
}
*::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  width: 12px;
}
*::-webkit-scrollbar {
  width: 12px;
}
.nigth {
  background-image: url("http://stockbarter.com/public/frontend/images/pattern-icons/5.png") !important;
}
.day {
  background-image: url("http://stockbarter.com/public/frontend/images/pattern-icons/2.png") !important;
}
